<div class="bg-pers">
	<div class="background">
		<div class="shape"></div>
		<div class="shape"></div>
	</div>
	<form [formGroup]="loginForm" (ngSubmit)="connexion()">
		<div [style]="{'margin-top':'-4rem', 'margin-bottom':'2.5rem', 'padding-top':'20px'}">
			<img src="assets/img/logo_snedai_blanc.svg" [style]="{'width':'300px'}">
		</div>
		<div>
			<label for="username">Nom d'utilisateur</label>
			<input type="text" id="username" formControlName="username">
			<div *ngIf="loginForm.get('username').invalid && submitted" class="text-danger message-erreur">
				Le nom d'utilisateur est requis.
			</div>
		</div>
		<div>
			<label for="password">Mot de passe</label>
			<input type="password" id="password" formControlName="password">
			<div *ngIf="loginForm.get('password').invalid && submitted" class="text-danger message-erreur">
				Le mot de passe est requis.
			</div>
		</div>
		<div class="flex justify-content-center flex-wrap">
			<button *ngIf="!chargement" label="Connexion" class="mt-4" type="submit" pButton>
			</button>
			<span *ngIf="chargement" class="spinner-border"></span>
			<span *ngIf="messageActif" class="mt-6">
				<p-message severity="error" [text]="messageErreur">
				</p-message>
			</span>
		</div>
	</form>
</div>
