<p-toast></p-toast>
<div class="container-fluid">
	<p-table #dt [value]="fabricants"
			 [rows]="10"
			 [paginator]="true"
			 selectionMode="single"
			 [(selection)]="fabricantSelectionne"
			 dataKey="id">
		<ng-template pTemplate="caption">
			<div class="flex align-items-center justify-content-between">
				<h5 class="m-0">Fabricants</h5>
			</div>
		</ng-template>
		<ng-template pTemplate="header">
			<tr>
				<th scope="col" class="text-center">
					<p-tableHeaderCheckbox></p-tableHeaderCheckbox>
				</th>
				<th scope="col" pSortableColumn="codeFabricant" class="text-center">Code
					<p-sortIcon field="codeFabricant"></p-sortIcon>
				</th>
				<th scope="col" pSortableColumn="designationFabricant" class="text-center">Désignation
					<p-sortIcon field="designationFabricant"></p-sortIcon>
				</th>
				<th scope="col" pSortableColumn="pays.nomPays" class="text-center">Pays
					<p-sortIcon field="pays.nomPays"></p-sortIcon>
				</th>
				<th scope="col" class="text-center">Actions</th>
			</tr>
			<tr>
				<th scope="col"></th>
				<th scope="col">
					<p-columnFilter type="text" field="codeFabricant"></p-columnFilter>
				</th>
				<th scope="col">
					<p-columnFilter type="text" field="designationFabricant"></p-columnFilter>
				</th>
				<th scope="col">
					<p-columnFilter type="text" field="pays.nomPays"></p-columnFilter>
				</th>
				<th scope="col"></th>
			</tr>
		</ng-template>
		<ng-template pTemplate="body" let-fabricant>
			<tr>
				<td class="text-center"><p-tableCheckbox [value]='fabricant'></p-tableCheckbox></td>
				<td>{{ fabricant.codeFabricant }}</td>
				<td>{{ fabricant.designationFabricant }}</td>
				<td>{{ fabricant.pays.nomPays }}</td>
				<td class="text-center"></td>
			</tr>
		</ng-template>
		<ng-template pTemplate="emptymessage">
			<tr>
				<td colspan="5" class="text-center">Aucun fabricant trouvé.</td>
			</tr>
		</ng-template>
	</p-table>
</div>

