<p-dialog [(visible)]="visible"
		  [baseZIndex]="1000"
		  [modal]="true"
		  [responsive]="true"
		  [closeOnEscape]="false"
		  [draggable]="false"
		  [resizable]="false"
		  (onShow)="onOuverture()"
		  (onHide)="onFermeture()"
		  [focusOnShow]="false"
		  [style]="{ width: '600px' }">

	<p-header>
		{{ modeModification ? "Modifier Importateur" : "Ajouter  Importateur"  }}
	</p-header>
	<div class="d-flex justify-content-center align-items-center" *ngIf="chargementOuverture">
		<span class="spinner-border m-2"></span>
	</div>
	<div class="container-fluid" *ngIf="!chargementOuverture">
		<form [formGroup]="importateurForm">
			<p-messages [value]="messages" [enableService]="false" [closable]="false"></p-messages>
				<div class="row">
					<div class="col-6">
						<label for="code">Code</label>
						<input id="code" type="text" formControlName="code" pInputText>
					</div>

					<div class="col-6">
						<label for="designation">Libellé</label>
						<input id="designation"  type="text" formControlName="designation" pInputText>
					</div>

					<div class="col-6">
						<label for="nom">Nom Gérant</label>
						<input id="nom" type="text" formControlName="nomGerant" pInputText>
					</div>

					<div class="col-6">
						<label for="prenoms">Prénoms Gérant</label>
						<input id="prenoms" type="text" formControlName="prenomsGerant" pInputText>
					</div>
				</div>
		</form>
	</div>

	<p-footer>
		<div [hidden]="enregistrementEnCours">
			<button type="button" pButton
					[disabled]="importateurForm.invalid"
					label="Enregistrer"
					(click)="enregistrer()">
			</button>
			<p-button [label]="'Annuler'"
					  type="button"
					  styleClass="p-button-link"
					  (click)="fermerModal()"></p-button>
		</div>
		<span *ngIf="enregistrementEnCours" class="app-spinner m-2"></span>
	</p-footer>
</p-dialog>
