<p-toast></p-toast>
<div class="card">
    <p-table #dt [value]="conditionnements" [rows]="10" [paginator]="true" [tableStyle]="{'min-width':'75rem'}"
    [(selection)]="selectedConditionnements" [rowHover]="true" dataKey="id">
        <ng-template pTemplate="caption">
            <div class="flex align-items-center justify-content-between">
                <h5 class="m-0">Conditionnements</h5>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th style="width: 4rem; text-align: center;">
                    <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                </th>            
                <th pSortableColumn="code" style="text-align: center;">Code <p-sortIcon field="code"></p-sortIcon></th>
                <th pSortableColumn="designation" style="text-align: center;">Désignation <p-sortIcon field="designation"></p-sortIcon></th>
                <th pSortableColumn="largeur" style="text-align: center;">Largeur <p-sortIcon field="lageur"></p-sortIcon></th>
                <th pSortableColumn="longueur" style="text-align: center;">Longueur <p-sortIcon field="longueur"></p-sortIcon></th>
                <th pSortableColumn="hauteur" style="text-align: center;">Hauteur <p-sortIcon field="hauteur"></p-sortIcon></th>
                <th pSortableColumn="nombreElements" style="text-align: center;">Nombre d'elements<p-sortIcon field="nombreElements"></p-sortIcon></th>
                <th style="text-align: center;">Actions</th>
            </tr>
            <tr>
                <th></th>
                <th>
                    <p-columnFilter type="text" field="code"></p-columnFilter>
                </th>
                <th>
                    <p-columnFilter type="text" field="designation"></p-columnFilter>
                </th>
                <th></th>
                <th></th>
                <th></th>                
                <th>
                    <p-columnFilter type="text" field="nombreElements"></p-columnFilter>
                </th>
                <th></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-conditionnement>
            <tr>
                <td style="text-align: center;">
                    <p-tableCheckbox [value]='conditionnement'></p-tableCheckbox>
                </td>
                <td><span class="ml-1 vertical-align-middle">{{conditionnement.code}}</span></td>
                <td><span class="ml-1 vertical-align-middle">{{conditionnement.designation}}</span></td>
                <td><span class="ml-1 vertical-align-middle">{{conditionnement.largeur}}</span></td>
                <td><span class="ml-1 vertical-align-middle">{{conditionnement.longueur}}</span></td>
                <td><span class="ml-1 vertical-align-middle">{{conditionnement.hauteur}}</span></td>
                <td><span class="ml-1 vertical-align-middle">{{conditionnement.nombreElements}}</span></td>
                <td class="text-center"> 
                    <i class="pi pi-pencil hover:bg-orange-400 border-round p-2 ml-5"
                    aria-hidden="true" title="Modfier"></i>&nbsp;
                    <i class="pi pi-eye hover:bg-orange-400 border-round p-2 ml-5"
                    aria-hidden="true" title="Visualiser"></i>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="5">Pas de conditionnement disponible.</td>
            </tr>
        </ng-template>
    </p-table>
</div>
