<p-toast></p-toast>
<div class="container-fluid">
	<p-table #dt [value]="conditionnements"
			 [rows]="10"
			 [paginator]="true"
			 selectionMode="single"
			 [(selection)]="conditionnement"
			 dataKey="id">
		<ng-template pTemplate="header">
			<tr>
				<th scope="col" style="width: 4rem; text-align: center;">
					<p-tableHeaderCheckbox></p-tableHeaderCheckbox>
				</th>
				<th scope="col" pSortableColumn="code" class="text-center">Code
					<p-sortIcon field="code"></p-sortIcon>
				</th>
				<th scope="col" pSortableColumn="designation" class="text-center">Désignation
					<p-sortIcon field="designation"></p-sortIcon>
				</th>
				<th scope="col" pSortableColumn="largeur" class="text-center">Largeur
					<p-sortIcon field="lageur"></p-sortIcon>
				</th>
				<th scope="col" pSortableColumn="longueur" class="text-center">Longueur
					<p-sortIcon field="longueur"></p-sortIcon>
				</th>
				<th scope="col" pSortableColumn="hauteur" class="text-center">Hauteur
					<p-sortIcon field="hauteur"></p-sortIcon>
				</th>
				<th scope="col" pSortableColumn="nombreElements" class="text-center">Nombre d'éléments
					<p-sortIcon field="nombreElements"></p-sortIcon>
				</th>
				<th scope="col" class="text-center">Actions</th>
			</tr>
			<tr>
				<th scope="col"></th>
				<th scope="col">
					<p-columnFilter type="text" field="code"></p-columnFilter>
				</th>
				<th scope="col">
					<p-columnFilter type="text" field="designation"></p-columnFilter>
				</th>
				<th scope="col"></th>
				<th scope="col"></th>
				<th scope="col"></th>
				<th scope="col">
					<p-columnFilter type="text" field="nombreElements"></p-columnFilter>
				</th>
				<th scope="col"></th>
			</tr>
		</ng-template>
		<ng-template pTemplate="body" let-conditionnement>
			<tr>
				<td class="text-center">
					<p-tableCheckbox [value]='conditionnement'></p-tableCheckbox>
				</td>
				<td>{{conditionnement.code}}</td>
				<td>{{conditionnement.designation}}</td>
				<td>{{conditionnement.largeur}}</td>
				<td>{{conditionnement.longueur}}</td>
				<td>{{conditionnement.hauteur}}</td>
				<td>{{conditionnement.nombreElements}}</td>
				<td class="text-center"></td>
			</tr>
		</ng-template>
		<ng-template pTemplate="emptymessage">
			<tr>
				<td colspan="8" class="text-center">Aucun conditionnement trouvé.</td>
			</tr>
		</ng-template>
	</p-table>
</div>
