th{
    font-size: 14px;
  }
  td{
      font-size: 14px;
  }
  label{
    font-size: 14px;
  }

  input{
    height: 43px;
    border-radius: 5px;
}
p-treeSelect{
  height: 50px;
  border-radius: 10px !important;
}
.enregistrer{
    background-color: #28285E !important;
    color: white;
    opacity: 1 !important;
    border-color: white !important;
    border-radius: 5px !important;
}

.modifier{
    background-color: #EF884A !important;
    color: white;
    opacity: 1 !important;
    border-color: white !important;
    border-radius: 5px !important;
}
